body {
        margin:0;
        padding:0;
    }

.backgroud-image {
    background-image: url("../img/Landscape.jpg");
    width:100%;
    max-width:1000px;
    margin:0px auto;
}

.flex-container{
    display: flex;
}
