@media (min-width: 535px) and (max-width: 824px) {
   
    .fondo{
        background-image: url("../img/dawn.png");
    }

}



@media (min-width: 200px) and (max-width: 534px) {


   
     .fondo {
        background-image: url("../img/maxresdefault.jpg");
        /*width:100%;
        margin:0px auto;*/
    }


}