@media (min-width: 535px) and (max-width: 824px) {
    [class*="col-"] {
    width: 100%;
    }

    body {
       margin:0;
       padding:0;
    }
    .background-image {
        background-image: url("../img/maxresdefault.jpg");
        width:100%;
        margin:0px auto;
    }

}