body {
    margin:0;
    padding:0;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.fondo {
    background-image: url(../img/Landscape.jpg);
    width:100vw;
    height: 100vh;
    background-size: cover;
    
}


